@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&family=Roboto:wght@400;500&display=swap');
:root{
    --header-height:3.5rem;

    /* color */
    --first-color: hsl(207, 41%, 39%);
    --title-color:hsl(207,4%, 16%);
    --text-color:hsl(207, 4%, 28%);
    --text-color-ligth:hsl(207, 4%, 56%);
    --body-color:#fcfcfd;
    --container-color:#f2f2f3;
    


    /*font typography*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lora', serif;;
    --bigest-font-size:1.5rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.2rem;
    --h3-font-size:1rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;
    --tint-font-size:.625rem;
    
    /*font wieght*/
    
    --font-medium:500;
    --font-semi-bold:600;

    /* z index */
    --z-normal:1;
    --z-tooltip:10;
    --z-fixxed:100;
}

@media screen and (min-width:1024px){
    :root{
        --bigest-font-size:3rem;
        --h1-font-size:2.5rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
        --smaller-font-size:.813rem;
        --tint-font-size:.688rem;    
    }
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font) ;
    font-size: var(--normal-font-size);
    background-color:var(--body-color) ;
}


h1,h2,h3{
    color: var(--title-color);
    font-family:var(--title-font) ;
    font-weight: var(--font-medium);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}





.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}


.section{
    padding-block: 2.5rem;
}

.section__border{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}
.section__title,
.section__suntitle{
    text-align: center;
}

.section__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.section__suntitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-ligth);
    margin-bottom: 3rem;
}

.main{
    overflow: hidden;
}

/*header nav*/

.header{
    width: 100%;
    position: absolute;
    z-index: var(--z-fixxed);    
    padding: 1rem 8rem 1rem 8rem; 
    background-color: var(--body-color);
    -box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    position: sticky;
    top: 0%;
}

.nav{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:1.5rem;
}

.nav_logo{
    color: var(--text-color);
    font-weight: var(--font-medium);
    font-size: 1.25rem;
    margin-left: -8rem;
}

.nav_logo:hover{
    color: var(--text-color-ligth);
}

.nav_items:hover{
    color: #FFBF00;
}
.nav_item:hover{
    color: #F94A29;


}
.nav_links{
    display: flex;
    position: absolute;
    right: 8rem;
    top: 5px;
    cursor: pointer;
    padding: 1rem;
    margin-right: -6rem;
    font-family: roboto,sans-serif;
    font-weight: var(--font-medium)
    ;
    
}

.main{
    width: 100%;
    height: 845px;
    padding: 0rem 8rem 0rem 8rem; 
}

.burger {
	justify-content: left;
    display: none;
	cursor: pointer;
    z-index: 50;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color:var(--text-color);
	margin: 5px;
	transition: all 0.3s ease;
    
}


.burger:hover{
    color: var(--text-color-ligth);
}



.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



/*reponsive */


@media screen and (max-width:844px){
    .nav_links{
        display: none;
    }
    .nav_logo{
        margin-left: -9rem;
        padding-right: 10.5rem;
    }
    .burger{
        display:block;
    }
    .burger.active div:nthchild(1){
        transition: rotate(-45deg)translate(-5px,6px);
    }
    .burger.active div:nth-child(3){
        transform: rotate(45deg)translate(-5px, -6px);
    }

}

@media screen and (min-width: 845px) {
	.burger {
		display: none;
	}
}


/* Body elements */

.hbanner{
    height: 1080;
    width: 1920;
    color: green;
    overflow: hidden;
}

.bannertitle,h1{
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    font-size: 4.25rem;
    padding: 0rem;
    margin: 5.5rem 0 0 -2.5rem ; /*1) Top 2) right 3) bottom 4)left */
}

h1{
    word-wrap: break-word;
    width: 40%;

}


.circle {
    width: 70rem;
    height:70rem;
    background:#FF7800;
    border-radius: 50%;
    display: flex;
    margin-left: 10rem;
  }
    